#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;

}

.setup-form{
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 400px;
}

.setup-form .userName-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 30px;
  justify-content: center;
}
.name-label {
  display: flex;
  align-items: center;
  gap: 10px;
}
.setup-form h1{
  font-family: "Comic Sans MS", "Marker Felt", "Apple Chancery", cursive;
  font-weight: 900;
  color: #f5948c;
}
.setup-form .userName-container label {
  font-size: 1.5rem;
  font-weight: 500;
  color: #213547;
}
.setup-form .userName-container input {
  margin-top: 10px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 1rem;
}

.setup-form form{
  border: #455a48 2px solid;
  border-radius: 15px;
  background:#b0c4b1 ;
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 450px;
  padding: 20px;

}
.setup-form form label{
  display: flex;
  flex-direction: column;
  font-weight: 500;
} 

form input {
  margin-top: 10px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 1rem;
}
form select {
  margin-top: 10px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 1rem;
}

button {
  margin-top: 20px;
  background-color: #f5948c;
  color: #455a48;
  font-weight: 500;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.gameInterface-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.gameInterface-container .page-header {
  font-size: 2rem;
  font-weight: 600;
  color: #213547;
  padding:0px;
}

.gameInterface-container .status-message {
  font-size: 1.2rem;
  color: #455a48;
}

.result-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* align-items: center; */
}
.table-display{
  max-height: 50vh;
  /* overflow-y: auto; */
  border: 2px solid rgba(255, 105, 180, 0.3);
  border-radius: 12px;
  padding-right: 5px;
  background-color: rgba(0, 0, 0, 0.2);
  overflow: scroll;
  scrollbar-color: #ff69b4 rgba(152, 251, 152, 0.1);
  scrollbar-width: thin;
}

.table-display thead th {
  background-color: #2c3e50 ;
  color: #98fb98;
  padding: 15px 10px;
  text-align: center;
  font-weight: bold;
  font-size: 1.1rem;
  border-bottom: 2px solid #ff69b4;
  position: sticky;
  top: 0;
  z-index: 999;
}

table tr.correct {
  background-color: #dde5b6 ;
  font-weight: bold;
}
table tr.incorrect {
  background-color: #ffe7e9;
  font-weight: bold;
}

.collapse-row.expanded .collapse-container {
    max-height: 500px;
    padding: 20px;
}

.explanation-icon:hover {
  transform: scale(1.5);
}

.close-icon {
    cursor: pointer;
    font-size: 1.2rem;
    padding: 5px;
    opacity: 0.7;
    align-self: flex-start; 
}

.close-icon:hover {
    transform: scale(1.2); 
    opacity: 1;
    color: #ff69b4;
}

.collapse-row.expanded {
  background-color: rgb(218, 242, 247);
}

