#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;

}
.setup-form{
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 500px;
}

.setup-form .userName-container {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}
.setup-form .userName-container label {
  font-size: 1.5rem;
  font-weight: 500;
  color: #213547;
}
.setup-form .userName-container input {
  margin-top: 10px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 1rem;
}

.setup-form form{
  border: #455a48 2px solid;
  border-radius: 15px;
  background:#b0c4b1 ;
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 450px;
  padding: 20px;

}
.setup-form label{
  display: flex;
  flex-direction: column;
  font-weight: 500;
} 

form input {
  margin-top: 10px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 1rem;
}
form select {
  margin-top: 10px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 1rem;
}

button {
  margin-top: 20px;
  background-color: #1a1a1a;
  color: white;
  font-weight: 500;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

h1 {
  font-size: 2rem;
}


.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
