:root {
  background-image: url("../public/images/background-image2.png");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: #213547;
  font-family: "verdana", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

label {
  color: #213547;
  font-size: 1.2rem;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 2rem;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  background: #fefedb;
}

@media (max-width: 768px) {
  .setup-form {
    width: 90%;
    max-width: 400px;
    margin: 0 auto;
    padding: 1.5rem;
  }

  .setup-form input select button {
    width: 100%;
    font-size: 0.9rem;
    padding: 10px

  }

  .gameInterface-container {
    padding: 10px;
  }
  .gameInterface-container .page-header {
    font-size: 1.2 rem;
    text-align: center;
  }

  .quiz-card {
    width: 95%;
    padding: 0.5rem;
  }

  .quiz-card .next-step button {
    width: 80px;
    font-size: 95%;
    padding: 8px;
  }

  .result-header {
    flex-direction: column;
    gap: 15px;
    text-align: center;
  }

  .ai-content-card {
    flex-direction: column; 
    padding: 12px;
    font-size: 0.9rem;
  }

}