body {
    background-color: #8BBAC5;
    font-size: 24px;
    line-height: 1.5;
    margin: 5%;
    padding-top:70px;
   
}
.navbar {
    background-color: #8BBAC5;
    color: #6c584c;
}
#recipe_logo {
    margin-right: 1rem;
}
.card{
    background-color: #8BBAC5;
}
.recipe_header > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
h1, h2, h5 {
    color: #E85E00;
}
#logo {
    width: 100px;
}

h1 {
    font-family: Spectral, serif;
    font-size: 46px;
    font-style: bold;
}
h2 {
    font-family: Spectral, serif;
    font-size: 34px;
}
h5{
    font-size: 28px;
}
/* .middle_top {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
} */

.middle_bottom {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.middle_top{
    justify-content: center;
}
#middle_bottom_left {
    width: 50%;
}

.instructions_area{
    width: 50%;
}

#mooncake_img {
    width: 70%;
    border-radius: 10px;
}

.similar_recipe {
    margin: 20px;
}

label {
    margin-left: 1rem;
}
input[type="checkbox"]:checked + label {
  text-decoration: line-through;
  color: gray;
  margin-left: 1rem;
}


.user_checked {
    text-decoration: line-through;
    color: gray;
}

.connection{
    margin: 3rem;
    padding: 2rem;
    flex-direction: column;
    align-items: flex-start; 
}
.contact-inside {
  display: flex;
  flex-direction: column;
  gap: .75rem;
}

.contact-author{
    display: flex;
    flex-direction: row;
}
.social-btn { display: flex;
    align-items: flex-start;
    gap: .75rem; 
    flex-wrap: wrap; 
    margin-left: 3rem;
    
}
.similar_recipe {
    margin: 2rem 2rem;
    padding: 2rem;
    border-radius: 15px;
    border: 2px dashed #027F7C;
    background-color: #f0bd6c;
}

form {
    margin: 2rem 2rem;
    padding: 2rem;
    border-radius: 15px;
    border: 2px dashed #027F7C;
    background-color: #f0bd6c;
}
input[type="email"] {
    border: 2px solid #027F7C;
    border-radius: 8px;
}
textarea {
  border: 2px solid #027F7C;
  border-radius: 8px;
}
#submitBtn {
    background-color:#027F7C ;
    color: white;
}

footer{
    margin: 20px;
    font-size: 14px;
}

/* 
5. Include at least 1 media query
Include at minimum one rule that will render the page and its content responsive across different screen sizes.

*/
@media(max-width: 600px) {
    body {
        background-color: #BFA8E5;
    }
}