.game_over_container{
  background-color: #d9773a;
  color: #2b2d42;
  z-index: 99999;
  display: flex;
  align-items: center;
  justify-content: center;

  width: 50%;
  border-radius: 20px;

  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}