.game_board{
  width: 800px;
  height: 100vh;
  background-color: #102438 ;
  margin: auto auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);

}

.playing_area{
  position: relative;

  width: 400px;
  height: 600px;
  border: 4px solid #ccc;
  border-radius: 10px;
  overflow: hidden;
  margin-top: 10px;
  position:relative;
}
.cat_container {
  position: absolute;
  bottom: 0px;
}