.header_bar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 400px;
  margin: 0;
  padding: 0;
}

.sound_btn {
  background-color: #102438 ;
  margin:0;
}

.sound_btn:hover {
  background-color: #ccc ;
  margin:0;
}