body {
    background-color: #adc178;
    font-size: 24px;
}

.recipe_header > div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#logo {
    width: 100px;
}

h1 {
    font-family: Spectral, serif;
    font-size: 46px;
}
h2 {
    font-family: Spectral, serif;
    font-size: 34px;
}
.middle_top {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.middle_bottom {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}
#ingredient {
    width: 60%;
}

#recipe_img_container {
    width: 40%;
}
#mooncake_img {
    width: 80%;
}
