:root {
  --size-grid :4;
}
body{
  background-color: #F6CA83;
}

.board {
  display: inline-grid; 
  grid-template-columns: repeat(var(--size-grid), 50px);
}

.cell {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #949D6A;
}

.selected {
  color: blue;
  background-color: red;
}