body{
  background-color: #F6CA83 ;
}

.board {
  display: inline-grid; 
  grid-template-columns: repeat(3, 50px);
}

.cell {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #949D6A;
}